## Latex
##
*.aux
*.fdb_latexmk
*.fls
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.bbl
*.blg
*.nav
*.run.xml
*.snm
writing/master/*.log
writing/master/*.out
*.toc
*.bcf
*.lof


## R
##
*.Rhistory
*.rdb
*.rdx
*.rda

## C/C++/CUDA
##
*.o
*.x