## Latex
##
*.aux
*.fdb_latexmk
*.fls
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.bbl
*.blg
*.nav
*.run.xml
*.snm
writing/*.log
writing/*.out
*.toc


## R
##
*.Rhistory
*.rdb
*.rdx
*.rda

## C/C++/CUDA
##
*.o
*.x